@font-face {
    font-family: "tencent";
    src: url("tencent.eot"); /* IE9 */
    src: url("tencent.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("tencent.woff") format("woff"), /* chrome、firefox */
    url("tencent.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("tencent.svg#tencent") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


